body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: 'menu' 'score' 'clickarea' 'clickarea' 'upgrade' 'minion';
  background-color: rgba(40, 106, 141, 0.6);
  grid-column-gap: 1vw;
  grid-row-gap: 1vh;
  min-height: 100vh;
}

.score-area {
  grid-area: score;
  border: 2px solid black
}

.menu-area {
  grid-area: menu;
  border: 2px solid black
}

.click-area {
  grid-area: clickarea;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upgrade-area {
  grid-area: upgrade;
  border: 2px solid black
}

.minion-area {
  grid-area: minion;
  border: 2px solid black
}

@media (min-width: 768px) {
  #root {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: 'score score menu menu menu menu' 'score score menu menu menu menu' 'clickarea clickarea upgrade upgrade minion minion' 'clickarea clickarea upgrade upgrade minion minion' 'clickarea clickarea upgrade upgrade minion minion' 'clickarea clickarea upgrade upgrade minion minion' 'clickarea clickarea upgrade upgrade minion minion';
    grid-column-gap: 1vw;

  }
}